html {
	font-size: 10px;
	font-family: "Open Sans", sans-serif;
}

body {
	margin: 0 auto;
	padding: 0 20px 20px 20px;
	width: 65%;
}

img {
	/* Images are inline elements, not blocks, so need to give image block-level behavior to do things like margin and spacing */
}

h1 {
	margin: 0;
	padding: 20px 0;
	color: #00539F;
}

p, li {
	font-size: 16px;
	line-height: 2;
	letter-spacing: 1px;
}

p {
	color: purple;
	width: 30px;
}



